
.blog {
    width: 100%;
    max-width: 24em;
    background: white;
    margin-right: 1em;
    float: left;
    -moz-box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .blog-type div {
    color: white;
    background: black;
    display: inline-block;
    cursor: pointer;
    padding: 1em 0;
    width: calc(50% - 0.05px);
    text-align: center;
  }
  .blog-type div:hover {
    background: #1abc9c;
    color: white;
  }
  .blog-type div:last-child {
    margin-left: -3px;
  }
  .blog-type .active {
    background: white;
    color: black;
  }
  
  .recent-posts,
  .popular-posts {
    overflow-y: auto;
  }
  
  .post {
    padding: 1em;
    overflow: hidden;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
  }
  .post:hover {
    background: #f9f9f9;
  }
  .post:hover h1 {
    color: #1abc9c;
  }
  .post .post-meta {
    font-size: 0.7em;
    line-height: 2;
  }
  .post .post-meta div {
    display: inline-block;
  }
  .post .post-meta .category {
    font-style: italic;
    font-weight: lighter;
  }
  .post .post-meta .tag {
    color: #1abc9c;
    font-weight: bolder;
  }
  .post img {
    float: left;
    margin-right: 0.75em;
  }
  .post h1 {
    font-weight: bolder;
    font-size: 0.9em;
    line-height: 1.5;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }