@import "https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700";
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,700";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body {
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: white;
}

/* 


TRENDING POST 



*/

.blog {
  width: 100%;
  max-width: 24em;
  background: white;
  margin-right: 1em;
  float: left;
  -moz-box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-type div {
  color: white;
  background: black;
  display: inline-block;
  cursor: pointer;
  padding: 1em 0;
  width: calc(50% - 0.05px);
  text-align: center;
}
.blog-type div:hover {
  background: #1abc9c;
  color: white;
}
.blog-type div:last-child {
  margin-left: -3px;
}
.blog-type .active {
  background: white;
  color: black;
}

.recent-posts,
.popular-posts {
  overflow-y: auto;
}

.post {
  padding: 1em;
  overflow: hidden;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}
.post:hover {
  background: #f9f9f9;
}
.post:hover h1 {
  color: #1abc9c;
}
.post .post-meta {
  font-size: 0.7em;
  line-height: 2;
}
.post .post-meta div {
  display: inline-block;
}
.post .post-meta .category {
  font-style: italic;
  font-weight: lighter;
}
.post .post-meta .tag {
  color: #1abc9c;
  font-weight: bolder;
}
.post img {
  float: left;
  margin-right: 0.75em;
}
.post h1 {
  font-weight: bolder;
  font-size: 0.9em;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* USER DROP DOWS */

/* /////////////////////////// */

.post-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
.post-container .post-card {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0.3rem;
}

.active {
  background-color: #f44242;
  color: white;
}

.ion {
  font-size: 1.5rem;
}

.post-card__content {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(100% - 50px);
  height: auto;
  /* padding: 25px; */
}

.post-card__info h1 {
  display: block;
  margin: 0;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: rgba(0, 0, 0, 0.84) !important;
  letter-spacing: -0.17px !important ;
}
.post-card__info h5 {
  display: block;
  margin-top: 0.7rem;
  font-weight: 100;
}
.post-card__info h5 span {
  color: #333;
  font-weight: 300;
}

.post-description {
  max-height: 40px;
  font-weight: 400;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
}
.post-card__info p {
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.6) !important;
  text-align: left;
}

.post-card__info a {
  color: #333;
  margin-top: 0.4rem;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.17px !important ;
}

.post-card__info a:hover {
  text-decoration: underline;
}

.post-date-read-time p {
  color: rgba(0, 0, 0, 0.54) !important;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0 !important ;
}

.post-img-container {
  overflow: hidden;
  width: 35%;
  height: 100%;
}

.post-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1s;
}

@media (max-width: 550px) {
  .post-img-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .post-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/*////////////////////////////////////////           post */

textarea,
.form-control {
  border: 0;
  border-radius: 0;
  resize: none;
}
.topbar {
  border-bottom: 1px solid whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 6px 26px;
  height: 46px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuNavContent {
  margin: 0 auto;
}
.topbar a {
  padding: 9px 28px;
  color: rgba(0, 0, 0, 0.54) !important;
  text-decoration: none;
  font-size: 15px;
}

.topbar a:hover {
  color: #333;
}

.topbar .right-group {
  float: right;
  margin-right: 120px;
}

.topbar .right-group .link-group {
  position: relative;
  display: inline-block;
  padding: 0;
}

.topbar .right-group .link-group .notification-icon svg {
  margin-bottom: -8px;
}

.topbar
  .right-group
  .link-group
  .notification-icon
  svg.active-notification-icon {
  fill: #1273b8;
}

topbar .right-group .link-group .notification-icon .svgIcon--25px {
  line-height: 27px;
  height: 27px;
}

.topbar .right-group .link-group a {
  color: rgba(0, 0, 0, 0.54) !important;
  font-size: 12px;
}
.topbar .right-group .link-group a img {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  object-fit: cover;
  /* margin-right: 9px; */
}
.topbar .right-group .link-group a:hover {
  text-decoration: none;
}

/* //////////////////// feed-content  */

.feed-content {
  margin-top: 13px;
  position: absolute;
  top: 42px;
  bottom: 0;
  left: 100px;
  right: 0;
  padding: 12px 7px;
  background: white;
}

/* //////////////////// thirdcol-content */
.thirdcol-content {
  position: fixed;
  top: 42px;
  bottom: 0;
  width: 250px;
  background: #fff;
  right: 0;
  display: block;
  width: 300px;
  padding: 12px 7px;
  overflow-x: auto;
  z-index: -2;
}

.thirdcol-content::-webkit-scrollbar {
  opacity: 0;
}

.thirdcol-content:hover .thirdcol-content::-webkit-scrollbar {
  opacity: 1;
}

.thirdcol-content > div > a,
.thirdcol-content > div > p {
  font-size: 12px;
}
.thirdcol-content .section-content {
  border-radius: 2px;
  border: 1px solid #dddfe2;
  margin: 0 0 15px 0;
  padding: 4px 5px;
  background: #fff;
  overflow: hidden;
}
.thirdcol-content .section-content h4:nth-child(1) {
  font-size: 14px;
  margin: 6px;
  padding: 6px;
  color: #888;
}
.thirdcol-content .section-content h4:nth-child(1) a {
  float: right;
  color: #8a8a8a;
}
.thirdcol-content .section-content p a {
  display: block;
}
.thirdcol-content .section-content p a span:not(:first-child) {
  display: inline-block;
  margin-left: 4px;
  font-size: 9px;
  padding: 1px 2px;
  color: #545454;
  background: #fff;
  border: 1px solid #b8b8b8;
}
.thirdcol-content .section-content a {
  font-size: 14px;
  margin-right: 5px;
}
.thirdcol-content .section-content a img {
  width: 64px;
  height: 64px;
  margin: 5px 5px 0 5px;
}
.thirdcol-content .section-content a .fa {
  display: inline-block;
  margin: 5px;
}
.thirdcol-content .section-content p:nth-child(3) {
  text-align: right;
  margin: -20px 0 4px 0;
  padding: 2px;
  width: 80%;
}
.thirdcol-content .section-content p:nth-child(3) a {
  display: inline-block;
  position: relative;
  top: -18px;
}
.thirdcol-content .section-content p:nth-child(4) {
  margin-top: -64px;
  margin-left: 75px;
  font-size: 12px;
}
.thirdcol-content .section-content p:nth-child(4) a:not(:nth-child(1)) {
  font-size: 12px;
  color: #4b4f56;
  margin-right: 5px;
}
.thirdcol-content .section-content p:nth-child(7) {
  text-align: center;
}
.thirdcol-content .section-content p:nth-child(7) a {
  width: 20%;
  display: inline-block;
  color: #333;
}
.thirdcol-content .section-content p:nth-child(7) .fa {
  display: block;
}
.thirdcol-content .section-content .activetrend,
.thirdcol-content .section-content .activetrend .fa {
  color: #1273b8;
}
.thirdcol-content .section-content .trend-feed ul {
  margin: 0 30px;
  padding: 0;
  list-style: square url("http://i.imgur.com/Etzny0O.png");
}
.thirdcol-content .section-content .trend-feed ul li {
  font-size: 12px;
}
.thirdcol-content .section-content .trend-feed ul li span:nth-child(1) {
  color: #999;
}
.thirdcol-content .section-content .trend-feed div a {
  float: left;
  font-size: 12px;
  margin-top: 4px;
}
.thirdcol-content .section-content .trend-feed div a:first-child {
  padding: 4px 0 0 4px;
}
.thirdcol-content .section-content .trend-feed div a:last-child {
  float: right;
  padding: 4px 0 0 4px;
}
.thirdcol-content .section-content:nth-child(1) > a:nth-child(2) {
  float: right;
  color: #8a8a8a;
}
.thirdcol-content .section-content:nth-child(4) {
  font-size: 12px;
}
.thirdcol-content .section-content:nth-child(4) h4 {
  float: left;
}
.thirdcol-content .section-content:nth-child(4) a:nth-child(2) {
  margin-top: 10px;
  float: right;
}
.thirdcol-content .section-content:nth-child(4) div {
  padding: 5px;
}
.thirdcol-content .section-content:nth-child(4) div a {
  display: block;
}
.thirdcol-content .section-content:nth-child(4) div a img {
  width: 100%;
  height: auto;
}
.thirdcol-content .section-content:nth-child(4) div a:hover {
  text-decoration: none;
}
.thirdcol-content .section-content:nth-child(4) div div {
  padding: 5px 5px 0 5px;
  font-size: 12px;
}
.thirdcol-content .section-content:nth-child(4) div div div {
  padding: 0;
}
.thirdcol-content .section-content:nth-child(4) div div:nth-child(3) {
  color: #878787;
}
.thirdcol-content .section-content:nth-child(5) a {
  font-size: 12px;
}
.feed-content {
  right: 300px;
}

@media all and (max-width: 370px) {
  .topbar {
    flex-direction: column-reverse;
    height: auto;
  }

  .menuNavContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menuNavContent a {
    padding: 9px 0px;
  }
}

@media all and (max-width: 418px) {
  .menuNavContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menuNavContent a {
    padding: 9px 0px;
  }
}

@media all and (max-width: 476px) {
  .menuNavContent {
    margin: 0 0;
  }

  .topbar a {
    font-size: 12px;
  }

  .topbar .right-group .link-group a img {
    display: inline-block;
    width: 28px;
    height: 28px;
  }

  .topbar .right-group .link-group .notification-icon svg {
    margin-bottom: -8px;
  }
  topbar .right-group .link-group .notification-icon .svgIcon--25px {
    line-height: 21px;
    height: 21px;
    margin-right: -3px;
  }
}

@media all and (max-width: 650px) {
  .feed-content {
    margin-top: 113px;
  }

  .right-group {
    float: right;
    margin-left: auto;
    padding: 0;
  }

  .menuNavContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  /* .topbar a {
    padding: 9px 28px;
  } */

  .topbar {
    flex-direction: column-reverse;
    height: auto;
  }

  .post-img-container {
    overflow: hidden;
    width: 25%;
    height: 80%;
  }

  .post-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s;
  }
}
.User-area {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  /* margin-left: 300px; */
  z-index: 5353;
}
.User-area > .User-avtar {
  width: 100%;
  height: 100%;
}
.User-area > .User-avtar > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  box-shadow: 3px 3px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 230px;
  margin: 0;
  top: 56px;
  right: -103px;
}
.User-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 80px;
  box-sizing: border-box;
  border: 11px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.User-Dropdown.U-open {
  display: block;
}
.User-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.16);
}
.User-Dropdown > li:last-child {
  border-bottom: 0px;
}
.User-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #1787e0;
  transition: all 0.2s ease-out;
}
.User-Dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}

/*

Notificaion drop down 
*/

.Notification-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  box-shadow: 3px 3px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 300px;
  margin: 0;
  top: 52px;
  right: -120px;
}
.Notification-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 120px;
  box-sizing: border-box;
  border: 11px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.Notification-Dropdown.U-open {
  display: block;
}
.Notification-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.16);
}
.Notification-Dropdown > li:last-child {
  border-bottom: 0px;
}
.Notification-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #1787e0;
  transition: all 0.2s ease-out;
}
.Notification-Dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}

@media all and (max-width: 700px) {

  ul .Notification-Dropdown{
    display: block; 
  }
  .feed-content {
    right: 0;
  }

  .topbar .right-group {
    float: right;
    margin-right: 0px;
  }

  .thirdcol-content {
    display: none;
  }

}

@media all and (max-width: 1000px) {
  .thirdcol-content {
    right: 0;
  }
  .feed-content {
    left: 0;
  }

  .left-content {
    display: none;
  }
}
@media all and (min-width: 1260px) {
  .feed-content {
    left: 150px;
  }

  .thirdcol-content {
    right: 0;
  }
}

@media all and (min-width: 1260px) {
}
.pointer {
  cursor: pointer;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tc {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

.right-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.User-area {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  /* margin-left: 300px; */
  z-index: 5353;
}
.User-area > .User-avtar {
  width: 100%;
  height: 100%;
}
.User-area > .User-avtar > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  box-shadow: 3px 3px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 230px;
  margin: 0;
  top: 56px;
  right: -103px;
}
.User-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 80px;
  box-sizing: border-box;
  border: 11px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.User-Dropdown.U-open {
  display: block;
}
.User-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.16);
}
.User-Dropdown > li:last-child {
  border-bottom: 0px;
}
.User-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #1787e0;
  transition: all 0.2s ease-out;
}
.User-Dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}

/*

Notificaion drop down 
*/

.Notification-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  box-shadow: 3px 3px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 300px;
  margin: 0;
  top: 52px;
  right: -120px;
}
.Notification-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 120px;
  box-sizing: border-box;
  border: 11px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.Notification-Dropdown.U-open {
  display: block;
}
.Notification-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.16);
}
.Notification-Dropdown > li:last-child {
  border-bottom: 0px;
}
.Notification-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #1787e0;
  transition: all 0.2s ease-out;
}
.Notification-Dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}
